<footer class="custom-footer">
  <hr />
  <div class="footer-grid">
    <div class="footer-block">
      <img src="https://freight.cargo.site/t/original/i/N2093833132796423779810610526824/123.png" alt="Logo" />
      <p>Don’t hesitate to<br>contact us.</p>
      <p><a href="mailto:ahoj@everyday60.cz">ahoj@everyday60.cz</a></p>
      <p><a href="https://wa.me/message/BX4G5L2FMJ2LG1" target="_blank">Whatsapp</a></p>
      <p>Are you interested in working with us?</p>
      <a class="button-3 button-3-1" href="https://forms.gle/9GFDnJfpZuuZhSRu6" target="_blank" style="color: white;">Apply now</a>
    </div>

    <div class="footer-block">
      <h3>Bakery 60</h3>
      <p>Jugoslávských partyzánů 1091<br>160 00, Praha 6-Dejvice</p>
      <p>+420 608 218 829</p>
      <p>Tue - Sat <b><i>7:00 - 19:00</i></b><br>Mon, Sun <b><i>Closed</i></b></p>
      <p>
        <a href="https://www.instagram.com/bakery60_praha/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </p>
    </div>

    <div class="footer-block">
      <h3>Bistro 60</h3>
      <p>Šrobárova 2159/9,<br>130 00 Praha 3-Vinohrady</p>
      <p>+420 608 218 829</p>
      <p>Tue - Sat <b><i>7:00 - 22:00</i></b><br>Sun <b><i>9:00 - 18:00</i></b><br>Mon <b><i>Closed</i></b></p>
      <p>
        <a href="https://www.instagram.com/bistro60_praha/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </p>
    </div>
  </div>
  <hr />
  <div class="footer-note">
    <i>everyday with everyday60</i>
  </div>
</footer>