<div class="top-menu">
  <a href="#" onclick="event.preventDefault(); openOverlay();" class="menu-toggle">☰</a>

  <div class="logo-center">
    <a href="index.html">
      <img src="https://freight.cargo.site/t/original/i/N2093833132796423779810610526824/123.png" alt="Logo" />
    </a>
  </div>

  <a class="button-3 button-3-1" href="https://app.bondus.cz/api/check/info?id=1126&source=3048&tag=Link" target="_blank">
    <span class="desktop-text">Join our membership</span>
    <span class="mobile-text">Join us</span>
  </a>
</div>