<div id="overlay-menu" class="page" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; display: none; overflow: hidden; ">
    <div class="page-layout">
      <div class="page-content">
        <div style="display: flex; justify-content: space-between; align-items: center; ">
          <span class="menu2"><a href="index.html">Home</a></span>
          <span class="menu2">
            <a href="#" onclick="closeOverlay()" style="font-size: 1.8rem;">&#10005;</a>
          </span>
        </div>
  
        <hr />
  
        <div class="menu2" style="line-height: 2.5rem; margin: 3rem 0;">
          <a href="bakery.html">Bakery 60</a><br>
          <a href="bistro.html">Bistro 60</a><br>
          <a href="cake.html">Our cakes</a><br>
        </div>
  
        <hr />
  
        <div class="menu2" style="line-height: 2.5rem; margin: 3rem 0;">
          <a href="mailto:ahoj@everyday60.cz" rel="mailto">Contact us</a><br>
          <a href="https://forms.gle/uPn6VU1AY8RoV34Y9" target="_blank">Share your experience</a><br>
          <a href="https://app.bondus.cz/api/check/info?id=1126&source=3048&tag=Link" target="_blank">5% cashback <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i></a><br>
        </div>
  
        <hr />
  
        <div class="menu2" style="line-height: 2.5rem; margin: 3rem 0;">
          <a href="https://www.instagram.com/bakery60_praha" target="_blank">Bakery 60 Instagram <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i></a><br>
          <a href="https://www.instagram.com/bistro60_praha" target="_blank">Bistro 60 Instagram <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i></a><br>
          <a href="https://www.instagram.com/bakery60_cake" target="_blank">Cake Instagram <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i></a><br>
        </div>
      </div>
    </div>
  </div>