<div class="seasonal-menu" style="margin-top: 3rem;">
    <h2 style="margin-bottom: 2rem; text-align: center;">☃️Try Out Winter Seasonal Menu in Bistro 60🍌🍫</h2>
      <div class="seasonal-gallary">
        <div class="coffee-menu" style="max-width: 310.5px;">
          <div class="img-container3 reveal visible">
            <img src="https://freight.cargo.site/t/original/i/C2109964872396155894068057750120/winter-01.jpg" alt="matcha latte">
          </div>
        </div>
        <div class="coffee-menu" style="max-width: 310.5px;">
          <div class="img-container3 reveal visible">
            <img src="https://freight.cargo.site/t/original/i/O2109965631627248479805783161448/winter-04.jpg" alt="yuza berry tea">
          </div>
        </div>
        <div class="coffee-menu" style="max-width: 310.5px;">
          <div class="img-container3 reveal visible">
            <img src="https://freight.cargo.site/t/original/i/O2109965631793269176469169125992/winter-03.jpg" alt="zamong black tea">
          </div>
        </div>
        <div class="coffee-menu" style="max-width: 310.5px;">
          <div class="img-container3 reveal visible">
            <img src="https://freight.cargo.site/t/original/i/Z2109965631811715920542878677608/winter-02.jpg" alt="yuza ade">
          </div>
        </div>
      </div>
    </div>